<a href="/scrap">data_mapper</a>

<hr>

<h1>arr</h1>
<a href="/today_arr">오늘의 웹툰 보기</a>
<br>
<a href="/week_arr/mon">월요일</a><br>
<a href="/week_arr/tue">화요일</a><br>
<a href="/week_arr/wed">수요일</a><br>
<a href="/week_arr/thu">목요일</a><br>
<a href="/week_arr/fri">금요일</a><br>
<a href="/week_arr/sat">토요일</a><br>
<a href="/week_arr/sun">일요일</a><br>
